@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

#calculator{
    background-color:#111;
    color:white;
    margin:auto;
    max-width:450px;
    width:100%;
    height:590px;
    padding:2em;
    box-shadow:5px 5px 8px 3px #777;
    border-radius:3%;
    display:flex;
    flex-direction:column;
}
#buttons{
    width:100%;
    height:100%;
    padding:10px 0;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top:1em;
    position:relative;
}
#switches{
    font-family:"Share Tech Mono";
    display:flex;
    font-size:1.3em;
}
.switch{
    display:flex;
    align-items:center;
    margin-right:15px;
    
}
.switch-wrapper{
    width:50px;
    height:25px;
    background-color:#707070;
    margin-left:5px;
    border-radius:7px;
}
.button{
    width:49%;
    height:99%;
    background-color:white;
    border-radius:40%;
}
