@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

#button-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    width:80px;
    height:75px;
    font-size:2em;
    border-radius:25%;
    text-align:center;
    cursor:pointer;
    position:relative;
    outline:none;
    border:none;
    margin:3px 4px;
    color:white;
    font-family:"Share Tech Mono", "monospace";
    border:1.5px solid #666;
}
#button-wrapper:hover{
    position:relative;
    border:.1px solid white;
    transform:scale(1.02);
    color:black;
}